/* TODO explore more CSS attributes */
/* zawsze sprawdzaj jaki tag/tagi określa dany parametr 
jesli cos jest niewidoczne, pewnie jakis tag jest niezamkniety */
/* #jesli cos jest tuz po '<' symbolu ( z wyjatkiem slow kluczowych (?); zawsze sprawdz ile zawiera tagow */ 
/* keep items close in the index close in the style */


body{

    background-image: url("gory.jpg");
    margin:0;
    
    
}

.link-title {
    text-decoration: none;
    font-size: 40px;
    color: black;
}


.page-heading{
    text-align: center;
    margin-bottom: 20px;
}


.container {
    width: 750px;
    margin: 0 auto;
    background: #f0f0f0;
    box-shadow: 2px 5px 5px 2px;
    border-radius: 10px;
}

.header{ /* denotes a class */
    padding: 45px 0 20px 40px; /* space around element (trbl) */
    
}

.menu{
    background: #fb5e22;
    padding: 6px 0 6px 40px;
    text-align: center;
    font-weight: 500;
}

.menu a { /* addressing the tags individually */
    color: #000000; /* c5d6db */
    text-decoration: none;
    font-size: 16px;
    font-family:  "Arial Unicode MS"; /*second list. just /*in case*/    
}

.menu a:hover{
    color: #ecf2f3;
}

aside{
    float: left;
    width: 120px;
    padding: 30px 0 0 40px;
}

h1{
    margin: 0px;
    color: #1722a9;
    font-size: 30px;
    font-family: "Arial Unicode MS";
    font-weight: normal;
}


h2{ /* can just predefine to be used in the future */
    color: #061249;
    font-size: 21px;
    margin: 20px 0px 5px 0px;
    
}



.main{ /*where is red? */
    /*background-image: url("gory.jpg"); */
    margin: 0 0 0px 100px;
    padding: 30px 100px 20px 0px;
    color: #061249;
    font-family: "Arial Unicode MS";
    font-size: 13px;
    line-height: 20px;
    text-emphasis: justify;
    
}

.main a:any-link{
    text-decoration: none;
}

.main a:hover{
    color:blue;
    text-decoration: none;
    
}

#home-image img { /* pound to access by id */

    width: 10%; /* how much space does it occupy */
}


footer {
    padding: 6px 40px 6px 40px;
    background: #d6d6d6;
    font-family: "Lucida Sans Unicode";
    color: #444444;
    font-size: 13px;
    text-decoration: right;
    border-radius: 10px;
}

footer a{ /*remember: dot in front only if a class */
    text-decoration: none; 
    color: #262626;
    
    
}

footer a:hover{
    color:white;
}


.separator{ 
    color: red;
    font-size: 10px;
    
}



/********about us page **********/

#about-page #home-image img { /* pound to access by id */

    width: 70%; /* how much space does it occupy */
    float: left;
    margin-bottom: 20px;
}

#about-page #profile-info { /*first tag not necessary */
    float: right;
    width: 20%;
    color: red;
}

#about-page .description{ /*dot because DIV class */
    clear:both; 
    
}

/*************contact page **************/

#contact-page #form{ /*accessing DIV by id */
   width: 500px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    box-shadow: 2px 0px 5px 3px;
    color: #25252f;
    border-radius: 7px;
        
} 

/* how to change space between each entry?*/
#contact-page #form input{
    width: 100%;
    border-radius: 5px;
    height: 20px;
    background: gainsboro;
    padding: 2px 2px 2px 2px;
}

#contact-page #form #message{
    width: 100%;    
    border-radius: 5px;
    background: #d6d6d6;
    
    
}

#contact-page #form #submit{
     height: 30px;
    color: dimgrey;
    background: #afbef2;
}














