/* TODO explore more CSS attributes */
/* zawsze sprawdzaj jaki tag/tagi określa dany parametr */
 
body{ /* no classes, so accessed by tags */

    background: #F4F4F4;
    margin:0;
    
    
}

.link-title{
    text-decoration: none;
    font-size: 24px;
        color: black
}


.container{
    width: 750px ;
    margin: 0 auto;
    background: #FFF; 
    
}

.header{ /* denotes a class */
    padding: 45px 0 20px 40px; /* space around element (tblr) */
    border: 2px solid black;
    
}

.menu{
    background: #3b7687;
    padding: 6px 0 6px 40px;
    
}

.menu a { /* addressing the tags individually */
    color: #000000; /* c5d6db */
    text-decoration: none;
    font-size: 14px;
    font-family: "Arial", "Myriad Pro"; /*second list. just in case*/    
}

.menu a:hover{
    color: #ecf2f3;
}

aside{
    float: left;
    width: 120px;
    padding: 30px 0 0 40px
}

h1{
    margin: 0px;
    color: #869241;
    font-size: 30px;
    font-family: "Times";
    font-weight: normal;
}


h2{ /* can just predefine to be used in the future */
    color: blue;
    font-size: 15px;
    margin: 20px 0px 5px 0px;
    
}

.main{ /*where is red? */
    margin: 0 0 0 180px;
    padding: 35px 40px 30px 0px;
    color: green;
    font-family: "Georgia";
    font-size: 13px;
    line-height: 20px;
    text-emphasis: justify;
    
}

.main a:hover{
    color:red;
    
}

#home-image img { /* pound to access by id */

    width: 50%; /* how much space does it occupy */
    
}


footer{
    padding: 6px 40x 6px 40px;
    background: #d6d6d6;
    font-family: "Lucida Sans Unicode";
    color: #444444;
    font-size: 11px;
    text-decoration: right;
    
    
}

footer a{ /*remember: dot in front only if a class */
    text-decoration: none; 
    color: #262626;
    
    
}

footer a:hover{
    color:white;
}

.separator{ /* keep items close in the index close in the style */
    color: red;
    font-size: 10px;
    
}



/********about us page **********/

#about-page #home-image img { /* pound to access by id */

    width: 70%; /* how much space does it occupy */
    float: left;
    margin-bottom: 20px;
}

#about-page #profile-info { /*first tag not necessary */
    float: right;
    width: 20%;
    color: red;
    font-family: cursive;
}

#about-page .description{ /*dot because class */
    clear:both; 
    
}

